<?xml version="1.0" encoding="UTF-8"?>
<div xmlns:i18n="http://exist-db.org/xquery/i18n" class="navbar-collapse collapse" id="navbar-collapse-1" data-template="i18n:translate" data-catalogues="db/apps/patrimonium-data/i18n/">
    
    <ul class="nav navbar-nav  col-sm-8 col-md-8">
        <li id="home">
            <a class="tp-menu-item" href="/">
                <div>
                    <i18n:text key="home"/>
                </div>
            </a>
        </li>
        <li>
            <a href="/exist/apps/estudium/atlas/">
                <div>
                    <i18n:text key="atlas"/>
                </div>
            </a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right adminMenu">
        <div class="" data-template="app:admin-menu">
            <a href="#loginDialog" data-toggle="modal" title="i18n(login)">
                <ul>
                    <div>
                        <i class="adminLogin glyphicon glyphicon-log-in"/>
                        <i18n:text key="login"/>
                    </div>
                </ul>
            </a>
            
            <li class="dropdown">
                <div class="dropdown-toggle" type="" data-toggle="dropdown">
                    <i class="adminLogin glyphicon glyphicon-user"/>
                    <span class="app:current-user"/>
                    <span class="caret"/>
                </div>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/exist/apps/estudium/admin/">Corpus</a>
                    </li>
                    
                    <li>
                        <a href="/exist/apps/estudium/edit-places/">Places manager</a>
                    </li>
                    <li>
                        <a href="/exist/apps/estudium/edit-people/">People manager</a>
                    </li>
                    
                    
                    <li role="separator" class="divider"/>
                    <li>
                        <a href="https://ausohnum.huma-num.fr/concept/c1" target="about">AusoHNum Thesaurus (new window)</a>
                    </li>
                    <li role="separator" class="divider"/>
                    <li>
                        <form class="" action="" method="post">
                            <input type="hidden" name="logout" value="true"/>
                            <button type="submit" class="btn btn-block btn-primary">
                                <i class="material-icons">account_circle</i>
                                <i18n:text key="logout"/>
                            </button>
                        </form>
                    </li>
                </ul>
            </li>
            
            <!--
            -->
        </div>
    </ul>
</div>