<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <title data-template="config:app-title">App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        
        <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link rel="shortcut icon" href="/resources/images/favicon.ico"/>
        
        
        <!--        JQuery-->
        <!--                <script type="text/javascript" src="$shared/resources/scripts/jquery/jquery-1.7.1.min.js"/>-->
        <!--        <script type="text/javascript" src="/resources/scripts/vendor/jquery-1.11.3.min.js"/>-->
<!--        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"/>-->
        
<!--        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"/>-->
<!--        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js" type="text/javascript"/>-->
        <link rel="stylesheet" href="$ausohnum-lib/resources/scripts/jquery/jquery-ui-1.12.1/jquery-ui.css"/> 
        <script src="$ausohnum-lib/resources/scripts/jquery/jquery-1.12.4-min.js"/>
        <script src="$ausohnum-lib/resources/scripts/jquery/jquery-ui-1.11.4/jquery-ui.min.js"/>
  
        
        
<!--        <script src="$ausohnum-lib/resources/scripts/jquery/bootstrap-validator.min.js"/>-->
        <!--        <script type="text/javascript" src="/resources/scripts/vendor/material.min.js"/>-->
        <!--        <script type="text/javascript" src="/resources/scripts/vendor/ripples.min.js"/>-->
<!--        <script type="text/javascript" src="/resources/scripts/vendor/bootstrap3-typeahead.min.js"/>-->
        <!--        <script type="text/javascript" src="/resources/scripts/vendor/jquery.fs.macaroon.min.js"/>-->
<!--        <link rel="stylesheet" type="text/css" href="$shared/resources/css/bootstrap-3.0.3.min.css"/>-->
        <link rel="stylesheet" type="text/css" href="$ausohnum-lib/resources/css/bootstrap-3.3.6.min.css"/>
        <script type="text/javascript" src="$shared/resources/scripts/bootstrap-3.0.3.min.js"/>
        <script type="text/javascript" src="$ausohnum-lib/resources/scripts/jquery/jquery.searchable.js"/>
        
        <script src="$ausohnum-lib/resources/scripts/jquery/jquery.validate.min.js"/>
        
        
        <!--        <link rel="stylesheet" type="text/css" href="https://ausohnum.huma-num.fr/apps/eStudium/resources/css/vendor/bootstrap-material-design.min.css"/>-->
<!--        <link rel="stylesheet" type="text/css" href="//patrimonium.huma-num.fr/resources/css/vendor/ripples.min.css"/>-->
        <!--        <link rel="stylesheet" type="text/css" href="//patrimonium.huma-num.fr/resources/css/vendor/jquery.fileupload.css"/>-->
        
        
        
        
        
        <!--        Bootstrap-->
        <!--                <link rel="stylesheet" type="text/css" href="https://ausohnum.huma-num.fr/apps/eStudium/resources/css/vendor/bootstrap.min.css"/>-->
        <!--                <script type="text/javascript" src="/resources/scripts/vendor/bootstrap.min.js"/>-->
        <!--<link rel="stylesheet" type="text/css" href="$shared/resources/css/bootstrap-3.0.3.min.css"/>-->
<!--        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>-->
        
<!--        <script type="text/javascript" src="$shared/resources/scripts/bootstrap-3.0.3.min.js"/>-->
        
<!--        <script type="text/javascript" src="/resources/scripts/jquery/jquery.validate.js"/>-->
        
        
        <link href="$ausohnum-lib/resources/css/style.css" rel="stylesheet" type="text/css"/>
        
        <!--        Custom CSS-->
        
            <link rel="stylesheet" type="text/css" href="$nav-base/resources/css/style.css"/>
<!--        <link rel="stylesheet" type="text/css" href="$ausohnum-lib/resources/css/editor.css"/>-->
        
        <script type="text/javascript" src="$shared/resources/scripts/loadsource.js"/>
        
        
        <!--<script src="/resources/scripts/mediumeditor/js/medium-editor.js"/>
        <link rel="stylesheet" href="/resources/scripts/mediumeditor/css/medium-editor.css"/>
        <link rel="stylesheet" href="/resources/scripts/mediumeditor/css/themes/default.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/rangy/1.3.0/rangy-core.js"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/rangy/1.3.0/rangy-classapplier.min.js"/>
-->
        
        
        
        
<!--        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css"/>-->

        
        
        <!--        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"/>-->
        
        
        <!-- ACE Editor  -->
        <!--                <script src="/$ausohnum-lib/resources/scripts/epigraphicEditor/ace-src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"/>-->
        <script src="$shared/resources/scripts/ace/ace.js" type="text/javascript" charset="utf-8"/>
        <!--Load language tool-->
        <script src="$shared/resources/scripts/ace/ext-language_tools.js" type="text/javascript" charset="utf-8"/>
        
        
        <link href="$ausohnum-lib/resources/css/style.css" rel="stylesheet" type="text/css"/>
<!--        <link rel="stylesheet" type="text/css" href="$ausohnum-lib/resources/css/editor.css"/>        -->
        
        
        
        <!-- Matomo -->
        <script type="text/javascript">
      var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
    var u="https://analyseweb.huma-num.fr/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '317']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
        <!-- End Matomo Code -->
        
    <!-- CP: "Mercurius Gebrinius" -->
    <style>
        rs{
            font-style: italic;
            font-variant: small-caps;
        }
    </style>
        
        
    </head>
    <body xmlns:i18n="http://exist-db.org/xquery/i18n" id="body" data-template="i18n:translate" data-catalogues="/apps/patrimonium/data/i18n/" data-lang="en">
        <div class="container-fluid" id="main-container" xml:lang="en">
            
            <div id="header" class="container col-sm-12 col-md-12 col-lg-12">
                <nav class="navbar navbar-default" role="navigation">
                    <div id="topheader" class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"/>
                            <span class="icon-bar"/>
                            <span class="icon-bar"/>
                        </button>
                        <a class="navbar-brand hidden-sm-down hidden-xl-up" href="/">
                            <img src="$nav-base/resources/images/logo-eStudium-sm.png" height="44"/>
                        </a>
                        
                        <div class="hidden-xs">
                            <!--                            <i18n:text key="shortnameLatin"/>-->
                        </div>
                        <div class="h4 hidden-xs titleInPrint">
                            A virtual Research Environment<br/>for Historians
                            <br/>
                            Customization for FERCAN
                        </div>
                        <span class="hidden-xs">
                        <a class="logoTop" href="http://ausonius.u-bordeaux-montaigne.fr/" target="_blank">
                            <img src="$nav-base/resources/images/logo-ausonius-white-txt.png" alt="Ausonius Institute logo"/>
                        </a>
                        </span>
                    </div>
                    <div data-template="templates:include" data-template-path="./templates/main-menu.html"/>
                </nav>
            </div>
            
        </div>
        
        <div id="content"/>
        <div id="loginDialog" class="modal fade" tabindex="-1" style="display: none;">
            <div class="modal-dialog" style="z-index: 1080;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Login</h4>
                    </div>
                    <form class="form form-horizontal" action="" method="POST">
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="control-label col-sm-2">
                                    <i18n:text key="username">Username</i18n:text>
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" name="user" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">
                                    <i18n:text key="password">Password</i18n:text>
                                </label>
                                <div class="col-sm-10">
                                    <input type="password" name="password" class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                        <input type="hidden" name="duration" value="P7D"/>
                    </form>
                </div>
            </div>
        </div>

               
        <footer class="container text-center">
            <div class="row">
                <a class="poweredby" href="http://exist-db.org">
                    <img src="$shared/resources/images/powered-by.svg" alt="Powered by eXist-db"/>
                </a>
                <a class="poweredby" href="https://dhcraft.org">
                    <img src="$ausohnum-lib/resources/images/dhcraft_logo_invert.svg" alt="Made with love by DH Craft"/>
                </a>
            </div>    
            <div class="row">
                <p class="text-center">Made with love by DH Craft</p>
            </div>
        </footer>
    </body>
</html>